.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 2rem 0;

  background-color: var(--gray-800);
}

.header__logo {
  height: 3.2rem;
}

.header__title {
  font-weight: 700;
  font-size: 2.4rem;
}