.avatar {
  --avatar-size: 5rem;
  --avatar-src: ""attr(src)"";

  background-color: var(--gray-500);

  width: var(--avatar-size);
  height: var(--avatar-size);

  border-radius: 5px;
}

.avatar[data-variant="outlined"] {
  --avatar-size: calc(5rem + 12px);

  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}