@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,700,700italic);

:root {
  --white: #fff;

  --gray-100: #E1E1E6;
  --gray-300: #C4C4CC;
  --gray-400: #8D8D99;
  --gray-500: #7C7C8A;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-500: #00875F;
  --green-300: #00B37E;

  --red-500: #F75A68;
}

html {
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

:focus-visible {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-300);

  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font: 400 1.6rem/160% 'Roboto', 'Arial', sans-serif;
  line-height: 1.6;
}